body {
  background: #CC4B09 url("../img/bg.jpg") repeat-x;
  font-family: 'Lora', serif;
}

#hugeDiv {
  width: 13216px;
}

#path {
height: 500px;
float: left;
background: url("../img/arrow.png") right 0 repeat-x;
}

#shippingLabel {
  background: hsla(0, 69%, 100%, 0.9);
  display: inline-block;
  text-align:center;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  border-radius: 10px;
  }
