body {
  background-image: url("../img/bg.jpg");
  font-family: 'Lora', serif;
}

#hugeDiv {
  width: 13216px;
}

#path {
height: 500px;
float: left;
background-image: url("../img/arrow.png");
background-repeat: repeat-x;

}
